

 :root {
--accent-color: #ff0070;
--bg-color: #000028;
--bg-image: url(../images/cover-image-dark.png);
--menu-text-color: var(--accent-color);
--title-color: #DB00FF;
--title-shadow: var(--accent-color);
--decor-color:var(--accent-color);
--section-title: var(--accent-color);
--article-title: var(--bg-color);
--subtitle-color: var(--bg-color);
--text-color: #F1B2CE;
--outline-hover: rgba(255, 0, 112, 0.4);
--outline-color: var(--accent-color);
--focus-color: var(--accent-color);
} 
